<h1>UnconfirmedUserMailer#change_email</h1>

<p>
  Hello <%= @user.name %>,
</p>
<p>
  To proceed with your e-mail change, click the link below and confirm your e-mail:
</p>
<p>
  <%= link_to @confirmation_url, @confirmation_url %>
</p>
<p>
  Activation Token: <%= @user.validation_token %>
</p>
