<h1>UnconfirmedUserMailer#reset_password_link</h1>

<p>
  Hello <%= @user.name %>,
</p>
<p>
  To proceed with your password reset, click the link below and confirm request:
</p>
<p>
  <%= link_to @confirmation_url, @confirmation_url %>
</p>
