<h1>UnconfirmedUserMailer#welcome</h1>

<p>
  Hello <%= @user.name %>,
</p>
<p>
  Welcome to our system. To proceed with your registration, click the link below and confirm your e-mail:
</p>
<p>
  <%= link_to @confirmation_url, @confirmation_url %>
</p>
<p>
  Activation Token: <%= @user.validation_token %>
</p>
