<h2>User registration</h2>

<%= form_for UnconfirmedUser.new, as: :account, url: signup_path, html: {id: nil} do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, id: nil %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, id: nil %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, id: nil %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<%  end %>
