<h2>Change your password</h2>

<%= form_for @user, as: :account, method: :put, url: edit_password_path, html: {id: nil} do |f| %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, id: nil, autocomplete: :off %>
  </div>

  <div class="field">
    <%= f.label :new_password %><br />
    <%= f.password_field :new_password, id: nil, autocomplete: :off %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, id: nil, autocomplete: :off %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>

<%  end %>
