<h2>Change your e-mail</h2>

<%= form_for UnconfirmedUser.new, as: :account, url: change_email_path, html: {id: nil} do |f| %>

  <div class="field">
    <%= f.label :current_email %>:
    <%= current_user.email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, id: nil, autocomplete: :off %>
  </div>

  <div class="field">
    <%= f.label :new_email %><br />
    <%= f.text_field :email, id: nil, autocomplete: :off %>
  </div>

  <div class="field">
    <%= f.label :email_confirmation %><br />
    <%= f.text_field :email_confirmation, id: nil, autocomplete: :off %>
  </div>

  <div class="actions">
    <%= f.submit "Change my email" %>
  </div>

<%  end %>
