<h2>Confirm your new e-mail</h2>

<%= form_for UnconfirmedUser.new, as: :account, url: validate_email_path, html: {id: nil} do |f| %>

  <div class="field">
    <%= f.label :new_email %>:
    <%= @user&.email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, id: nil, autocomplete: :off %>
  </div>

  <div class="actions">
    <%= f.submit "Change my email" %>
  </div>

<%  end %>
