<h2>Enter the system</h2>

<%= form_for User.new, as: :account, url: signin_path, html: {id: nil} do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, id: nil %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, id: nil %>
  </div>

  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>

<%  end %>
