<h2>Forgot your password?</h2>

<%= form_for UnconfirmedUser.new, as: :account, url: reset_password_path, html: {id: nil} do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, id: nil, autocomplete: :off %>
  </div>

  <div class="actions">
    <%= f.submit "Send password reset link" %>
  </div>

<%  end %>
