<!DOCTYPE html>
<html>
<head>
  <title>AuthSupport</title>
  <%= stylesheet_link_tag    "auth_support/application", media: "all" %>
  <%= javascript_include_tag "auth_support/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
